{{successmsg}}
<h1 class="mt-5">This is the Admin Page !.</h1>
<div class="container">
  <div class="row my-5">
    <div class="col-md-6 offset-3">
      <a href="/product/add" class="btn btn-sm btn-outline-primary d-block">Add products !</a>
    </div>

    {{!-- Button for approval of blogs --}}
    <div class="col-md-6 offset-3 my-5">
      <a href="/adminbloglist" class="btn btn-sm btn-outline-primary d-block">Blogs left to approve {{count}}</a>
    </div>

    <div class="col-md-6 offset-3 my-2">
      <a href="/admin/photogallery" class="btn btn-sm btn-outline-primary d-block">Add User Album</a>
      <a href="/adminviewalbum" class="btn btn-sm btn-outline-primary d-block">View User Albums</a>

    </div>



  </div>