<h1>This is the page for the blog approval.</h1>

<div class="container">
  <div class="row">
    {{#each blogs}}
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <img src="{{image}}" class="img-fluid" alt="">

        <h1>{{title}}</h1>
        <h3>{{content}}</h3>
        <h4>{{author}}</h4>

        <a href="/approveblog/{{id}}" class="btn btn-success btn-lg">Approve Blog</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>