<h1>Blog adding form</h1>

<form action="/blogadd" Method="post" enctype="multipart/form-data">
  {{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
  {{else}}

  {{/each}}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" placeholder="Enter the Title">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" id="editor" cols="30" rows="10" class="form-control"
      placeholder="Enter the content"></textarea>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" name="author" placeholder="Enter the Author">
  </div>
  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" class="form-control" name="image" multiple>
  </div>
  <button class="btn btn-primary btn-sm" type="submit">Submit</button>
</form>