<h1>This is the photo gallery made for the users.</h1>

<h1>Blog adding form</h1>

<form action="/admin/photogalleryadd" Method="post" enctype="multipart/form-data">
  {{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
  {{else}}

  {{/each}}

  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" class="form-control" name="image" multiple>
  </div>
  <div class="form-group">
    <select name="nameid" id="nameid">
      {{#each users}}
      {{#unless isAdmin}}
      <option>{{email}}
      </option>
      {{/unless}}
      {{/each}}

    </select>
  </div>

  {{!-- <div class="form-group">
    <label for="id">Please type in the user id:</label>
    <input type="text" class="form-control" name="reqid">
  </div> --}}





  <button class="btn btn-primary btn-sm" type="submit">Submit</button>
</form>


<script src="/js/try.js"></script>