<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <form action="/productadd" Method="post" enctype="multipart/form-data">



      <div class="form-group">

        <label for="title">Title</label>

        <input type="text" class="form-control" name="title" placeholder="Enter the Title">

      </div>



      <div class="form-group">

        <label for="description">Description</label>

        <textarea name="description" id="" cols="30" rows="10" class="form-control" placeholder="Enter the content"></textarea>

      </div>

      <div class="form-group">

        <label for="price">Price</label>

        <input type="number" class="form-control" name="price" placeholder="Enter the Price">

      </div>

      <div class="form-group">

        <label for="image">Choose an Image:</label>

        <input type="file" class="form-control" name="image" />

      </div>

      <button class="btn btn-primary btn-sm" type="submit">Submit</button>

    </form>
  </div>
</div>