<h1 class="text-center my-5">Albums for the user side.</h1>

{{!-- <div class="col-md-6 offset-md-3">
  {{#each users}}
  {{#each image}}
  <img src="{{path}}" alt="" class="img-fluid">
  {{/each}}
  {{/each}}
</div> --}}
<div class="container">
  <div class="row">
    {{#each users}}
    {{#each image}}
    <div class="col-md-3 my-4">
      <img src="{{path}}" alt="" class="img-fluid">
      <a href="/editImage/{{filename}}" class="btn btn-success">Edit</a>
      <form method="POST" action="/delete/{{../id}}/{{filename}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE" class="btn btn-block btn-outline-danger">
      </form>
    </div>
    {{/each}}
    {{/each}}
  </div>
</div>