<nav class="navbar navbar-expand-sm fixed-top" id="main-navbar">
  <div class="container">
    <a href="#" class="navbar-brand font-size-for-brand ltr-spacing text-primary">JMEDIA</a>
    <button class="navbar-toggler" data-target="#navigation-toggle" data-toggle="collapse">
      <span class="navbar-toggler-icon toggler-color">M</span>
    </button>
    <div class="collapse navbar-collapse" id="navigation-toggle">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link ltr-spacing-nav">Home</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link ltr-spacing-nav">Blog</a></li>
        <li class="nav-item"><a href="/portfolio" class="nav-link ltr-spacing-nav">Portfolio</a></li>

        <li class="nav-item"><a href="/products" class="nav-link ltr-spacing-nav">Products</a></li>
        <li class="nav-item"><a href="/services" class="nav-link ltr-spacing-nav">Services</a></li>
        {{#if user}}
        <li class="nav-item" id="special-case-hover"><a href="/user/logout" class="nav-link ltr-spacing-nav bg-success">Logout</a></li>
        {{else}}
        <li class="nav-item" id="special-case-hover"><a href="/user/login" class="nav-link ltr-spacing-nav bg-success">LogIn</a></li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>