<nav class="navbar navbar-expand-sm fixed-top bg-dark-custom-extras" id="">
  <div class="container">
    <a href="#" class="navbar-brand font-size-for-brand ltr-spacing text-primary">JMEDIA</a>
    <button class="navbar-toggler" data-target="#navigation-toggle" data-toggle="collapse">
      <span class="navbar-toggler-icon toggler-color">M</span>
    </button>
    <div class="collapse navbar-collapse" id="navigation-toggle">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link ltr-spacing-nav">Home</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link ltr-spacing-nav">Blog</a></li>
        <li class="nav-item"><a href="/portfolio" class="nav-link ltr-spacing-nav">Portfolio</a></li>

        <li class="nav-item"><a href="/products" class="nav-link ltr-spacing-nav">Products</a></li>
        <li class="nav-item"><a href="/services" class="nav-link ltr-spacing-nav">Services</a></li>
        {{#if user}}
        <li class="nav-item" id="special-case-hover"><a href="/user/logout" class="nav-link ltr-spacing-nav">Logout</a>
        </li>
        {{else}}
        <li class="nav-item" id="special-case-hover"><a href="/user/login" class="nav-link ltr-spacing-nav">LogIn</a>
        </li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<!-- Start Section which contains parallax -->
<section id="blog-parallax">
  <div class="parallax-overlay-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Blogs</h1>
          <h3 class="text-grayish">See What Others Have created So Far !</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About us header section -->
<section id="serviceheader" class="text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto pt-5 text-center text-dark">
        <h3>Read what we do.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
      </div>
    </div>
  </div>
</section>

{{!-- Blog section starts --}}
<section>
  {{#if user}}
  {{#unless user.isAdmin}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <a href="/user/addblogs" class="btn btn-success btn-lg btn-block">Add Blogs</a>
      </div>
    </div>
  </div>

  {{/unless}}
  {{/if}}

  <div class="container my-5 p-5">

    {{#each blogs}}
    <div class="row my-5">
      <div class="col-md-6">
        <img src="{{image}}" class="img-fluid" alt="">
      </div>
      <div class="col-md-6">
        <h1>{{title}}</h1>
        <h3>Written By:-</h3>
        <h2>{{author}}</h2>
        <h4>{{content}}</h4>
        {{!-- <button class="mt-5 btn btn-outline-primary">Learn More -->></button> --}}
        <a href="/blogexpand{{id}}" class="mt-5 btn btn-outline-primary">Learn More ...</a>

      </div>
    </div>

    {{/each}}
    {{!-- <div class="row">
      <div class="col-md-4">
        <div class="card blog-hover-1">
          <div class="card-header blog-1"></div>
          <div class="card-body bg-dark text-grayish1">
            <h4>Written by</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam earum itaque iure sit totam ex
              adipisci magni. Rerum, placeat cumque eveniet doloremque quam minus?</p>
            <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card blog-hover-2">
          <div class="card-header blog-2"></div>
          <div class="card-body bg-dark text-grayish1">
            <h4>Written by</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam earum itaque iure sit totam ex
              adipisci magni. Rerum, placeat cumque eveniet doloremque quam minus?</p>
            <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card blog-hover-3">
          <div class="card-header blog-3"></div>
          <div class="card-body bg-dark text-grayish1">
            <h4>Written by</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam earum itaque iure sit totam ex
              adipisci magni. Rerum, placeat cumque eveniet doloremque quam minus?</p>
            <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

          </div>
        </div>
      </div>
    </div> --}}

    {{!-- <div class="row mt-3">
      <div class="col-md-4">
        <div class="card blog-hover-4">
          <div class="card-header blog-4"></div>
          <div class="card-body bg-dark text-grayish1">
            <h4>Written by</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam earum itaque iure sit totam ex
              adipisci magni. Rerum, placeat cumque eveniet doloremque quam minus?</p>
            <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card blog-hover-5">
          <div class="card-header blog-5"></div>
          <div class="card-body bg-dark text-grayish1">
            <h4>Written by</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam earum itaque iure sit totam ex
              adipisci magni. Rerum, placeat cumque eveniet doloremque quam minus?</p>
            <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card blog-hover-6">
          <div class="card-header blog-6"></div>
          <div class="card-body bg-dark text-grayish1">
            <h4>Written by</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam earum itaque iure sit totam ex
              adipisci magni. Rerum, placeat cumque eveniet doloremque quam minus?</p>
            <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}