<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        {{blog.title}}
      </div>
      <div class="card-body">
        <img src="{{blog.image}}" class="img-fluid" alt="">
      </div>
      <div class="card-footer">

        <h3> {{blog.content}}</h3>
        <h2>Written by :- {{blog.author}}</h2>

      </div>
    </div>
  </div>
</div>