<nav class="navbar navbar-expand-sm fixed-top" id="main-navbar">
  <div class="container">
    <a href="#" class="navbar-brand font-size-for-brand ltr-spacing text-primary">JMEDIA
    </a>
    <button class="navbar-toggler" data-target="#navigation-toggle" data-toggle="collapse">
      <span class="navbar-toggler-icon toggler-color">M</span>
    </button>
    <div class="collapse navbar-collapse" id="navigation-toggle">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link ltr-spacing-nav">Home</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link ltr-spacing-nav">Blog</a></li>
        <li class="nav-item"><a href="/portfolio" class="nav-link ltr-spacing-nav">Portfolio</a></li>

        <li class="nav-item"><a href="/products" class="nav-link ltr-spacing-nav">Products</a></li>
        <li class="nav-item"><a href="/services" class="nav-link ltr-spacing-nav">Services</a></li>
        {{#if user}}
        <li class="nav-item" id="special-case-hover"><a href="/user/logout" class="nav-link ltr-spacing-nav">Logout</a>
        </li>
        {{else}}
        <li class="nav-item" id="special-case-hover"><a href="/user/login" class="nav-link ltr-spacing-nav">LogIn</a>
        </li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<!-- Homepage starts here -->
<section id="home-page">

  <div class="container mb-5">
    <div class="row">
      <div class="col py-5 text-white text-right">
        <h1 class="">Creating </h1>
        <h2>the Best</h2>
        <h1>PossiBle !.</h1>
        <br>
        <p class="text-white">
          Striving to be the best in services Provided .
        </p>
        <button class="btn btn-outline-dark text-white btn-lg">Learn More</button>
      </div>
    </div>

  </div>
</section>

<!-- Welcome page -->
<section id="welcome">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col-md-10 col-xs-12 offset-md-1">
        <div class="card mt-5 pt-3">


          <div class="card-body text-dark" id="custom-hover-card">
            <h2 class="text-grayish ltr-spacing">Welcome To JMEDIA</h2>

            <h5>Compel your audience. Capture the moment. Light with purpose.</h5>
            <br>
            <p>A professional photography studio who works full time and often does studio related works that involves
              taking pictures in a controlled interior setting , with professional or amateur models.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 my-5 offset-1 text-center no-show">
        <img src="img/photography-welcome.png" class="hover-shadow" height="300" width="300" alt="">
      </div>
    </div>
  </div>
</section>

<!-- what we do -->
<section id="what-we-do">
  <div class="container mt-5 pb-5">
    <div class="row my-5 p-5">
      <div class="col text-center">
        <h2 class="text-grayish">What We Do ?.</h2>
        <br>
        <p class="text-dark">We are here to provide photography services like personal photoshoot , marriage
          photography , prewedding
          photoshoot , corporate photography and videography. We also develop photo albums and negatives.</p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fas fa-camera-retro fa-5x text-grayish"></i>

            <h5 class="mt-5">Picture perfect photo</h5>
            <p class="mt-4 text-dark">
              The editing process of photographs , on the other hand , may include simple cropping or could include
              changing color schemes , lighting , and adding removing objects from pictures to clear them up.
            </p>

            <button class="mt-5 btn btn-outline-dark">Learn More -->></button>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fas fa-images fa-5x text-grayish"></i>



            <h5 class="mt-5">Picture perfect Album</h5>
            <p class="mt-4 text-dark">
              Finally after the development of pictures , photographers of the studio are responsible for the digital
              phusical development of their pictures and creating the perfect Album.
            </p>

            <button class="mt-5 btn btn-outline-dark">Learn More -->></button>

          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fas fa-archway fa-5x text-grayish"></i>



            <h5 class="mt-5">Satisfactory Services</h5>
            <p class="mt-4 text-dark">
              Offers Innovation to families and freinds and opportunity to create picture-perfect memories that will
              last a lifetime ! Each of our convenient studio locations features multiple camera rooms, equipped with
              the latest in digital photography technology and professional lighting systems.
            </p>

            <button class="mt-5 btn btn-outline-dark">Learn More -->></button>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- For small parallax -->
<section id="small-parallax">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3 text-center">
        <i class="fas fa-camera fa-7x text-white"></i>
        <h4 class="text-white">PHOTOGRAPHY</h4>

      </div>
      <div class="col-md-3 text-center">
        <i class="fas fa-cannabis fa-7x text-white"></i>
        <h4 class="text-white">Weddings</h4>

      </div>
      <div class="col-md-3 text-center">
        <i class="fab fa-firefox fa-7x text-white"></i>
        <h4 class="text-white">WildLife</h4>

      </div>
      <div class="col-md-3 text-center">
        <i class="fab fa-pagelines fa-7x text-white"></i>

        <h4 class="text-white">Natural</h4>
      </div>
    </div>
  </div>

</section>

<!-- Split section -->
<!-- <section id="split-section">
        <div class="container-fluid">
                <div class="row">
                                        <div class="col-md-6 bg-split-1">
                                                <div class="bg-overlay-dark-split">
                        <span class=" text-center">                      
                                 <h4>Wedding</h4>
                                 <p>Lorem ipsum dolor sit <br>amet consectetur adipisicing<br> elit. In expedita exercitationem error.</p>
                                 <button class="btn hover-block d-none btn-outline-primary">View More</button>
                        </span>
                </div>
                </div>
                <div class="col-md-6 bg-split-2">
                                <div class="bg-overlay-dark-split">

                                <span class="text-center">                      
                                                <h4>PhotoGraphy</h4>
                                                <p>Lorem ipsum dolor sit<br> amet consectetur adipisicing<br> elit. In expedita exercitationem error.</p>
                                                <button class="btn hover-block d-none btn-outline-primary">View More</button>

                                       </span>
                                       </div>
                </div>
        </div>
</div>

</section> -->
<!-- work process section -->

<section id="work-process">
  <div class="container my-5">
    <div class="row mb-5">
      <div class="col text-center">
        <h3 class="text-grayish">Our Work Process</h3>
        <p class="text-dark">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <h1 class="text-grayish">01.</h1>
        <h4>Pre-Plan and Order</h4>
        <p class="text-grayish">Decide your plans for the event , select the style of photography you need and select
          the album type you need.</p>
      </div>
      <div class="col-md-3">
        <h1 class="text-grayish">02.</h1>
        <h4>Photography</h4>
        <p class="text-grayish">The main event , the D-day. Our team captures the best memories for your auspicious
          event.</p>
      </div>
      <div class="col-md-3">
        <h1 class="text-grayish">03.</h1>
        <h4>Process</h4>
        <p class="text-grayish">We edit your photographs and videos according to the most trending style and best suited
          for you.</p>
      </div>
      <div class="col-md-3">
        <h1 class="text-grayish">04.</h1>
        <h4>Final Product</h4>
        <p class="text-grayish">Within 7-15 days your final product is ready and will be delivered to your doorsteps.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- For Another small parallax -->
<section id="small-parallax-another">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4 text-center">
        <h1 class="text-dark">258</h1>
        <h3 class="text-white">Projects Completed</h3>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, nostrum.</p>

      </div>
      <div class="col-md-4 text-center">
        <h1 class="text-white">3578</h1>
        <h3 class="text-dark">Hours Worked</h3>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, nostrum.</p>
      </div>
      <div class="col-md-4 text-center">
        <h1 class="text-dark">12</h1>
        <h3 class="text-white">Members Expanded</h3>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, nostrum.</p>
      </div>

    </div>
  </div>

</section>

<!-- Showcasing-projects section -->
<section id="showcasing-projects">
  <div class="container-fluid py-5" id="scroll-event">
    <div class="row my-5">
      <div class="col text-center">
        <h1 class="text-grayish">See What We Have Done ....</h1>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, est.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 scroll-try showcase-1">
      </div>
      <div class="col-md-3 showcase-2">

      </div>
      <div class="col-md-3 showcase-3">

      </div>
      <div class="col-md-3 showcase-4">

      </div>
    </div>
    <div class="row">
      <div class="col-md-3 showcase-5 d-none d-md-block">

      </div>
      <div class="col-md-3 showcase-6 d-none d-md-block">

      </div>
      <div class="col-md-3 showcase-7 d-none d-md-block">

      </div>
      <div class="col-md-3 showcase-8 d-none d-md-block">

      </div>
    </div>
  </div>
</section>

<!-- Contact Us section -->
<section id="contact">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 class="text-grayish">See What We Can Do For You</h1>
        <h3 class="text-dark">Get In Touch</h3>
        <p class="text-grayish">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, blanditiis?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12 offset-md-3">
        <form class="py-5">
          <div class="form-group">
            <input type="text" class="form-control" name="msgname" placeholder="Enter Your Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="msgemail" placeholder="Enter Your Email">
          </div>

          <div class="form-group">
            <textarea cols="30" rows="5" class="form-control" name="msgmsg" placeholder="Enter Your Message"></textarea>
          </div>
          {{#each formerror}}
          <h3>{{text}}</h3>
          {{/each}}
          <div class="form-group">
            {{!-- <input type="submit" value="Connect With Us" class="form-control btn btn-outline-primary"> --}}
            <a href="/usermessage" class="form-control btn btn-outline-primary">Connect With Us</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>