<nav class="navbar navbar-expand-sm fixed-top bg-dark-custom-extras" id="">
  <div class="container">
    <a href="#" class="navbar-brand font-size-for-brand ltr-spacing text-primary">JMEDIA</a>
    <button class="navbar-toggler" data-target="#navigation-toggle" data-toggle="collapse">
      <span class="navbar-toggler-icon toggler-color">M</span>
    </button>
    <div class="collapse navbar-collapse" id="navigation-toggle">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link ltr-spacing-nav">Home</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link ltr-spacing-nav">Blog</a></li>
        <li class="nav-item"><a href="/portfolio" class="nav-link ltr-spacing-nav">Portfolio</a></li>

        <li class="nav-item"><a href="/products" class="nav-link ltr-spacing-nav">Products</a></li>
        <li class="nav-item"><a href="/services" class="nav-link ltr-spacing-nav">Services</a></li>
        {{#if user}}
        <li class="nav-item" id="special-case-hover"><a href="/user/logout" class="nav-link ltr-spacing-nav">Logout</a></li>
        {{else}}
        <li class="nav-item" id="special-case-hover"><a href="/user/login" class="nav-link ltr-spacing-nav">LogIn</a></li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{!-- Navbar ends here --}}
<!-- Start Section which contains parallax -->
<section id="portfolio-parallax">
  <div class="parallax-overlay-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>PortFolio</h1>
          <h3 class="text-grayish">See What We Have Done So Far !</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Showcasing Section -->
<section id="portfolio-showcase">
  <div class="container mt-5">
    <div class="row mb-5">
      <div class="col text-center">
        <h1 class="text-grayish ltr-spacing">See Our Projects .!.</h1>
        <p class="text-dark ltr-spacing">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, cupiditate.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex flex-column ">
          <div class="d-flex flex-row port-1 ">
            <div class="overlay-portfolio p-5">
              <h3 class="text-white">Portfolio-1</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

            </div>
          </div>
          <div class="d-flex flex-row port-2 ">
            <div class="overlay-portfolio-2 p-5">
              <h3 class="text-white">Portfolio-2</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex flex-column ">
          <div class="d-flex flex-row port-3 ">
            <div class="overlay-portfolio-3 p-5">
              <h3 class="text-white">Portfolio-3</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

            </div>
          </div>
          <div class="d-flex flex-row port-4 ">
            <div class="overlay-portfolio-4 pl-3">
              <h3 class="text-white">Portfolio-4</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="d-flex flex-column ">
          <div class="d-flex flex-row port-5 ">
            <div class="overlay-portfolio-5 p-5">
              <h3 class="text-white">Portfolio-5</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

            </div>
          </div>
          <div class="d-flex flex-row port-6 ">
            <div class="overlay-portfolio-6 p-5">
              <h3 class="text-white">Portfolio-6</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex flex-column ">
          <div class="d-flex flex-row port-7 ">
            <div class="overlay-portfolio-7 p-5">
              <h3 class="text-white">Portfolio-7</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <button class="mt-5 btn btn-outline-primary">Learn More -->></button>

            </div>
          </div>
          <div class="d-flex flex-row port-8 ">
            <div class="overlay-portfolio-8 p-5">
              <h3 class="text-white">Portfolio-8</h3>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              {{!-- <button class="mt-5 btn btn-outline-primary">Learn More -->></button> --}}
              <a href="/portfoliodetails" class="mt-5 btn btn-outline-primary">Learn More ...</a>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>