<nav class="navbar navbar-expand-sm fixed-top bg-dark-custom-extras" id="">
  <div class="container">
    <a href="#" class="navbar-brand font-size-for-brand ltr-spacing text-primary">JMEDIA</a>
    <button class="navbar-toggler" data-target="#navigation-toggle" data-toggle="collapse">
      <span class="navbar-toggler-icon toggler-color">M</span>
    </button>
    <div class="collapse navbar-collapse" id="navigation-toggle">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link ltr-spacing-nav">Home</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link ltr-spacing-nav">Blog</a></li>
        <li class="nav-item"><a href="/portfolio" class="nav-link ltr-spacing-nav">Portfolio</a></li>

        <li class="nav-item"><a href="/products" class="nav-link ltr-spacing-nav">Products</a></li>
        <li class="nav-item"><a href="/services" class="nav-link ltr-spacing-nav">Services</a></li>
        {{#if user}}
        <li class="nav-item" id="special-case-hover"><a href="/user/logout" class="nav-link ltr-spacing-nav">Logout</a>
        </li>
        {{else}}
        <li class="nav-item" id="special-case-hover"><a href="/user/login" class="nav-link ltr-spacing-nav">LogIn</a>
        </li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{!-- Navbar ends here --}}
<!-- Start Section which contains parallax -->
<section id="service-parallax">
  <div class="parallax-overlay-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Services</h1>
          <h3 class="text-grayish">See What We Can Provide !</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services -->
<section id="service-cards">
  <div class="container pb-5">
    <div class="row my-5 p-5">
      <div class="col text-center">
        <h2 class="text-grayish ltr-spacing">Services</h2>
        <br>
        <p class="text-dark ltr-spacing">Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <i class="fas fa-camera-retro fa-5x text-grayish"></i>

            <h5 class="mt-5">Documentries</h5>
            <p class="mt-4 text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reiciendis natus aut sunt, officiis
              corporis, perspiciatis corrupti error hic neque ad ut voluptates.
            </p>

            <button class="mt-5 btn btn-outline-dark">Learn More -->></button>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <i class="fas fa-images fa-5x text-grayish"></i>



            <h5 class="mt-5">Event Photography</h5>
            <p class="mt-4 text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reiciendis natus aut sunt, officiis
              corporis, perspiciatis corrupti error hic neque ad ut voluptates.
            </p>

            <button class="mt-5 btn btn-outline-dark">Learn More -->></button>

          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <i class="fas fa-archway fa-5x text-grayish"></i>



            <h5 class="mt-5">Weddings</h5>
            <p class="mt-4 text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reiciendis natus aut sunt, officiis
              corporis, perspiciatis corrupti error hic neque ad ut voluptates.
            </p>

            <button class="mt-5 btn btn-outline-dark">Learn More -->></button>

          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <i class="fas fa-archway fa-5x text-grayish"></i>



            <h5 class="mt-5">Short Films</h5>
            <p class="mt-4 text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reiciendis natus aut sunt, officiis
              corporis, perspiciatis corrupti error hic neque ad ut voluptates.
            </p>

            <button class="mt-5 btn btn-outline-dark">Learn More -->></button>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Service Features -->
<section id="service-features">
  <div class="container">
    <div class="row bg-whitesmoke mb-4">
      <div class="col-md-7 feature-1">
      </div>
      <div class="col-md-5 py-5">
        <h2 class="text-grayish">Feature One</h2>
        <h5 class="text-dark">Lorem, ipsum dolor.</h5>
        <br>
        <p class="text-grayish">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit veritatis,
          reiciendis iure vitae doloremque, eaque ipsum accusantium sint, voluptatum non?</p>
        <br>
        <button class="btn btn-outline-dark">Call To Action</button>
      </div>
    </div>

    <div class="row bg-whitesmoke mb-4">
      <div class="col-md-7 order-md-2 feature-2">
      </div>
      <div class="col-md-5 order-md-1 py-5">
        <h2 class="text-grayish">Feature Two</h2>
        <h5 class="text-dark">Lorem, ipsum dolor.</h5>
        <br>
        <p class="text-grayish">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit veritatis,
          reiciendis iure vitae doloremque, eaque ipsum accusantium sint, voluptatum non?</p>
        <br>
        <button class="btn btn-outline-dark">Call To Action</button>
      </div>
    </div>
    <div class="row bg-whitesmoke">
      <div class="col-md-7 feature-3">
      </div>
      <div class="col-md-5 py-5">
        <h2 class="text-grayish">Feature Three</h2>
        <h5 class="text-dark">Lorem, ipsum dolor.</h5>
        <br>
        <p class="text-grayish">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit veritatis,
          reiciendis iure vitae doloremque, eaque ipsum accusantium sint, voluptatum non?</p>
        <br>
        <button class="btn btn-outline-dark">Call To Action</button>
      </div>
    </div>
  </div>


</section>