* {
  font-family: "Corben", cursive;
}
/* Common classes */
.text-grayish {
  color: rgba(0, 0, 0, 0.3);
}
.text-grayish1 {
  color: rgba(255, 255, 255, 0.3);
}
/* Css styling for the homepage */
#home-page {
  background: url("/img/home-page.jpg");
  padding-bottom: 100px;
  padding-top: 200px;
  background-size: cover;
  margin-top: -75px;
  background-attachment: fixed;
}
/* Styling for the navbar */
.bg-dark-custom-extras {
  background: black;
  opacity: 0.8;
}
#special-case-hover:hover {
  color: white;
}
.ltr-spacing-nav {
  letter-spacing: 5px;
  margin-left: 10px;
}
.bg-dark-custom {
  background: rgba(0, 0, 0, 0.6);
}
.bg-dark-custom1 {
  background: rgba(0, 0, 0, 0.8);
}
#main-navbar {
  display: block;
}
#main-navbar .navbar-nav .nav-item .nav-link:hover {
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;

  color: blue;
}
nav a {
  color: whitesmoke;
}
.font-size-for-brand {
  font-size: 35px;
  margin-top: 0px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: whitesmoke;
}

/* Css styling for welcome */

.hover-shadow {
  opacity: 0.6;
  transition: 1s;
}
.hover-shadow:hover {
  opacity: 1;
  transition: 1s;
}
/* Css styling for what we do */
#what-we-do {
  background: whitesmoke;
}
.card-hover:hover {
  box-shadow: 10px 10px 20px gray;
  margin-top: 15px;
  transition: 0.3s;
}
/* Css for small parallax */
#small-parallax {
  background: url("/img/for-small-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/* Css styling for split-section */

.bg-split-1 {
  position: relative;
  padding-top: 400px;
  background: url("/img/bg-split-1.jpg");
  background-size: cover;
  transition: 0.5s;
}
.bg-split-2 {
  position: relative;
  padding-top: 400px;
  background: url("/img/bg-split-2.jpg");
  background-size: cover;
  transition: 0.5s;
}
.bg-overlay-dark-split {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding-top: 250px;
  color: gray;
  text-align: center;
  transition: 0.5s;
}
.bg-overlay-dark-split:hover .hover-block {
  display: block !important;
}
.bg-overlay-dark-split:hover {
  padding-top: 170px;
  transition: 0.5s;
  color: whitesmoke;
}
/* Css for another small parallax */
#small-parallax-another {
  background: url("/img/for-another-small-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Css styling for showcase */

.showcase-1 {
  background: url("/img/showcase-1.jpeg");
  background-size: cover;
  height: 300px;
}
.showcase-2 {
  background: url("/img/showcase-2.jpeg");
  background-size: cover;
  height: 300px;
}
.showcase-3 {
  background: url("/img/showcase-3.jpeg");
  background-size: cover;
  height: 300px;
}
.showcase-4 {
  background: url("/img/showcase-4.jpeg");
  background-size: cover;
  height: 300px;
}
.showcase-5 {
  background: url("/img/showcase-5.jpeg");
  background-size: cover;
  height: 300px;
}
.showcase-6 {
  background: url("/img/showcase-6.jpeg");
  background-size: cover;
  height: 300px;
}
.showcase-7 {
  background: url("/img/showcase-7.jpeg");
  background-size: cover;
  height: 300px;
}
.showcase-8 {
  background: url("/img/showcase-8.jpeg");
  background-size: cover;
  height: 300px;
}

/* Css styling for blog page starts here */

/* Css styling for blog images */
#blog-parallax {
  margin-top: 0px;
  position: relative;
  background: url("/img/blog-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 400px;
}
.blog-1 {
  background: url("/img/blog-1.jpeg");
  background-size: cover;
  height: 400px;
}
.blog-hover-1:hover {
  box-shadow: 10px 10px 20px gray;
  margin-top: 12px;
  margin-left: 12px;
  transition: 0.3s;
}
.blog-2 {
  background: url("/img/blog-2.jpeg");
  background-size: cover;
  height: 400px;
}
.blog-hover-2:hover {
  box-shadow: 10px 10px 20px gray;
  margin-top: 12px;
  margin-left: 12px;
  transition: 0.3s;
}
.blog-3 {
  background: url("/img/blog-3.jpg");
  background-size: cover;
  height: 400px;
}
.blog-hover-3:hover {
  box-shadow: 10px 10px 20px gray;
  margin-top: 12px;
  margin-left: 12px;
  transition: 0.3s;
}
.blog-4 {
  background: url("/img/blog-4.jpg");
  background-size: cover;
  height: 400px;
}
.blog-hover-4:hover {
  box-shadow: 10px 10px 20px gray;
  margin-top: 12px;
  margin-left: 12px;
  transition: 0.3s;
}
.blog-5 {
  background: url("/img/blog-5.jpeg");
  background-size: cover;
  height: 400px;
}
.blog-hover-5:hover {
  box-shadow: 10px 10px 20px gray;
  margin-top: 12px;
  margin-left: 12px;
  transition: 0.3s;
}
.blog-6 {
  background: url("/img/blog-6.jpg");
  background-size: cover;
  height: 400px;
}
.blog-hover-6:hover {
  box-shadow: 10px 10px 20px gray;
  margin-top: 12px;
  margin-left: 12px;
  transition: 0.3s;
}
/* Css styling for portfolio page starts here */

/* styling for portfolio-parallax */
.ltr-spacing {
  letter-spacing: 10px;
}
#portfolio-parallax {
  margin-top: 0px;
  position: relative;
  background: url("/img/portfolio-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 400px;
}
.parallax-overlay-light {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  padding-top: 200px;
}
.port-1 {
  background: url("/img/portfolio-1.jpeg");
  background-size: cover;
  height: 400px;
  position: relative;
}
.overlay-portfolio {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-1:hover .overlay-portfolio {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.port-2 {
  background: url("/img/portfolio-2.jpeg");
  background-size: cover;
  height: 300px;
  position: relative;
}
.overlay-portfolio-2 {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-2:hover .overlay-portfolio-2 {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.port-3 {
  background: url("/img/portfolio-3.jpeg");
  background-size: cover;
  height: 500px;
  position: relative;
}
.overlay-portfolio-3 {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-3:hover .overlay-portfolio-3 {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.port-4 {
  background: url("/img/portfolio-4.jpeg");
  background-size: cover;
  height: 200px;
  position: relative;
}
.overlay-portfolio-4 {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-4:hover .overlay-portfolio-4 {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.port-5 {
  background: url("/img/portfolio-5.jpeg");
  background-size: cover;
  height: 280px;
  position: relative;
}
.overlay-portfolio-5 {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-5:hover .overlay-portfolio-5 {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.port-6 {
  background: url("/img/portfolio-6.jpeg");
  background-size: cover;
  height: 420px;
  position: relative;
}
.overlay-portfolio-6 {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-6:hover .overlay-portfolio-6 {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.port-7 {
  background: url("/img/portfolio-7.jpeg");
  background-size: cover;
  height: 370px;
  position: relative;
}
.overlay-portfolio-7 {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-7:hover .overlay-portfolio-7 {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.port-8 {
  background: url("/img/portfolio-8.jpeg");
  background-size: cover;
  height: 330px;
  position: relative;
}
.overlay-portfolio-8 {
  transition: all 0.4s ease-in;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.port-8:hover .overlay-portfolio-8 {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
/* Css styling for products */
#product-parallax {
  margin-top: 0px;
  position: relative;
  background: url("/img/product-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 400px;
}
/* Products css styling */

.card:hover {
  box-shadow: 10px 10px 20px gray;
  margin-bottom: 12px;
  margin-left: 12px;
  transition: 0.3s;
}
/* Css styling for services */
#service-parallax {
  margin-top: 0px;
  position: relative;
  background: url("/img/service-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 400px;
}
.feature-1 {
  background: url("/img/feature-1.jpeg");
  background-size: cover;
  height: 400px;
}
.feature-2 {
  background: url("/img/feature-2.jpeg");
  background-size: cover;
  height: 400px;
}
.feature-3 {
  background: url("/img/feature-3.jpeg");
  background-size: cover;
  height: 400px;
}
.bg-whitesmoke {
  background-color: whitesmoke;
}
/* Css styling for login page */
#login-parallax {
  margin-top: 0px;
  position: relative;
  background: url("/img/login-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 400px;
}

#accordion a:hover {
  color: black;
}
/* Media queries */
@media (max-width: 768px) {
  .toggler-color {
    background-color: whitesmoke;
  }
  .no-show {
    display: none;
  }
  #home-page {
    margin-top: -150px;
  }
}
@media (min-width: 768px) {
  #what-we-do {
    height: 850px;
  }
  #service-cards {
    height: 780px;
  }
  #login {
    height: 500px;
  }
  #welcome {
    height: 766px;
  }
}
