<div class="row mt-5">

  {{#if products}}
  {{#each products}}
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        {{item.title}}
      </div>
      <div class="card-body">
        {{item.description}}
      </div>
      <div class="card-footer">
        <h3>Quantity = {{qty}}</h3>
        <br>
        <h3>Price = {{item.price}}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Total price</div>
      <div class="card-body">
        <h1>{{price}}</h1>
      </div>
      <div class="card-footer">
        <h6><a href="/reduce/{{this.item._id}}" class="btn btn-sm btn-danger">Remove single Item</a></h6>
        <h6><a href="/remove/{{this.item._id}}" class="btn btn-sm btn-danger">Remove all Items</a></h6>
      </div>
    </div>
  </div>

  {{/each}}
  <a href="/checkout" class="btn-sm btn-success">CheckOut</a>
  {{else}}
  <h1>No products to display</h1>
  {{/if}}
</div>