<h1>CheckOut Page</h1>
<h3>Your Total:{{total}} </h3>
<div class="alert alert-danger charge-error {{#if noError}}hidden{{/if}}"></div>
{{errMsg}}
<form action="/checkout" method="POST" id="checkout-form">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" class="form-control" name="name" required>
    </div>
  </div>
  <div class="col-sm-6">

    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" class="form-control" name="address" required>
    </div>
  </div>

  <div class="col-sm-6">

    <div class="form-group">
      <label for="card-name">Card Holder Name:</label>
      <input type="text" id="card-name" class="form-control" name="card-name" required>
    </div>
  </div>

  <div class="col-sm-6">

    <div class="form-group">
      <label for="creditno">Credit Card No:</label>
      <input type="text" id="creditno" class="form-control" name="creditno" required>
    </div>
  </div>

  <div class="col-sm-6">

    <div class="form-group">
      <label for="expm">Expiration Month:</label>
      <input type="text" id="expm" class="form-control" name="expm" required>
    </div>
  </div>

  <div class="col-sm-6">

    <div class="form-group">
      <label for="expy">Expiration Year:</label>
      <input type="text" id="expy" class="form-control" name="expy" required>
    </div>
  </div>

  <div class="col-sm-6">

    <div class="form-group">
      <label for="cvv">CVV/CVC:</label>
      <input type="text" id="cvv" class="form-control" name="cvv" required>
    </div>
  </div>

  <button type="submit" id="checkout-button" class="btn btn-sm btn-success">Proceed</button>
</form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/js/checkout.js"></script>