{{!-- Trial basis for shopping cart menu --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Jmedia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>

      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/shopping-cart"><i class="fa fa-shopping-cart"></i> Cart
          <span class="badge">{{session.cart.totalQty}}</span><span class="sr-only"></span></a>
      </li>

      {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> {{user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user/userprofile">Dashboard</a>
          <div class="dropdown-divider"></div>
          {{!-- <a class="dropdown-item" href="#"></a> --}}
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/user/logout"><i class="fa fa-shopping-cart"></i> Logout <span class="sr-only"></span></a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link" href="/user/login"><i class="fa fa-shopping-cart"></i> LogIn <span class="sr-only"></span></a>
      </li>
      {{/if}}



    </ul>

  </div>
</nav>

{{!-- <div class="row">
  <div class="col-md-6">
    <div id="success" class="alert alert-success {{#if noMessage}}hidden{{/if}}">
      {{successMsg}}
    </div>
  </div>
</div> --}}
<section id="product-parallax">
  <div class="parallax-overlay-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Products</h1>
          <h3 class="text-grayish">See What We Have To Sell !</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product list title -->
<section id="product-list">
  <div class="container mt-5 mb-5">
    <div class="row mt-5">
      <div class="col text-center">
        <h1 class="text-grayish ltr-spacing">PRODUCTS</h1>
        <p class="text-dark ltr-spacing">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
{{!-- Dynamic product listing starts from below. --}}
<div class="row mt-5">

  {{#each products}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <img src="{{image}}" class="img-fluid" alt="">
      </div>
      <div class="card-body">
        <h1>{{title}}</h1>
        {{description}}
      </div>
      <div class="card-footer">
        <button class="btn-sm btn-primary">{{price}}</button>

        <a href="/addtocart/{{this._id}}" class="btn btn-success btn-sm">Add to Cart</a>
        {{!-- <a href="/{{_id}}" class="btn btn-primary btn-sm">VIew Product</a> --}}
      </div>
    </div>
  </div>
  {{/each}}
</div>