<br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">{{product.title}}</h1>
      <br>
      <img src="{{product.image}}" alt="" class="img-fluid" height="500" width="500">
      <br>

      <h3>{{product.description}}</h3>
      <br>
      <h4 class="text-center">Price:{{product.price}}</h4>
      <h6 class="text-lead">NOTE: To buy the product or to add product to cart please go back.</h6>
    </div>
  </div>
</div>