<br><br><br><br><br><br>
<style>
  #messageArea{
    display: none;
  }
</style>
<h1>This is the live chat application</h1>




<div class="container">

  <div id="userFormArea" class="row">
    <div class="col-md-12">
      <form action="" id="user-form">

        <div class="form-group">
          <label for="user">Enter Email</label>
          <input name="" id="userName" class="form-control" />
          <br>
          <input type="submit" class="btn btn-primary" value="Start Chat">
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="messageArea">
    <div class="col-md-4">
      <div class="well">
        <h3>Online User</h3>
        <ul class="list-group" id="users">

        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chat" id="chat"></div>
      <form action="" id="message-form">

        <div class="form-group">
          <label for="msg">Enter Message</label>
          <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
          <br>
          <input type="submit" class="btn btn-primary" value="Send Message">
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<script src="/js/chat.js"></script>

<script>
  $(function () {
    const socket = io.connect('http://localhost:4000');
    const $messageform = $('#message-form');
    const $message = $('#message');
    const $messagearea = $('#messageArea')
    const $chat = $('#chat');
    const $userform = $('#user-form');
    const $userformarea = $('userFormArea');
    const $users = $('#users');
    const $username = $('#userName');

    $messageform.submit((e) => {
      e.preventDefault();
      socket.emit('send message', $message.val());
      $message.val('');
    });

    socket.on('new message', (data) => {
      $chat.append('<div class="well"> <strong>' + data.user + '</strong>:' + data.user data.msg + ' </div>');
    });

    $userform.submit((e) => {
      e.preventDefault();
      socket.emit('new user', $username.val(), (data) => {
        if (data) {
          $userformarea.hide();
          $messagearea.show();
        }
      });
      $username.val('');
    });

    socket.on('get users', (data) => {
      let html = '';
      for (i = 0; i < data.length; i++) {
        html += `<li class=list-group-item> ${data[i]} </li>`;
      }
    })
  });
</script>