<h1>Edit Blog form</h1>

<h1>Blog adding form</h1>

<form action="/blog/edit/{{blog.id}}?_method=PUT" Method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" placeholder="Enter the Title" value="{{blog.title}}">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" id="editor" cols="30" rows="10" class="form-control" placeholder="Enter the content">{{blog.content}}</textarea>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" name="author" placeholder="Enter the Author" value="{{blog.author}}">
  </div>
  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" class="form-control" name="image">
  </div>
  <button class="btn btn-primary btn-sm" type="submit">Submit</button>
</form>