<br><br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h1>Reset the PASSWORD !</h1>

      <form action="/forgotpwd" method="POST">
        <div class="form-group">
          <input type="email" required placeholder="Enter The registered Email." name="email">
        </div>
        <div class="form-group">
          <button class="btn btn-danger" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>