{{!-- <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="/galleria/galleria-1.5.7.min.js"></script>
<script type='text/javascript' src='/js/page.js'></script>
<link rel="stylesheet" href="/css/page.css"> --}}

<div class="galleria">
  {{#each paths}}

  {{#each image}}

  <img src="{{path}}">


  {{/each}}
  {{/each}}


</div>

{{!-- <div class="col-md-4 offset-md-3">
  {{#each paths}}
  {{#each image}}
  <img src="{{path}}" alt="">
  {{/each}}
  {{/each}}
</div> --}}