<br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <form action="/reset/{{token}}" method="POST">
        <h1>Reset Your Passwrod.</h1>
        <div class="form-group">
          <input type="password" name="pass" placeholder="Enter New Password" required>
        </div>
        <div class="form-group">
          <input type="password" name="cpass" placeholder="Confirm New Password" required>
        </div>
        <div class="form-group">
          <button class="btn btn-danger btn-lg" type="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>