<h1>Sign-Up page</h1>

<form action="/user/signup" method="POST">
  <div class="col-md-6 offset-3">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" value="{{name}}" class="form-control" name="name" placeholder="Enter Fullname">
    </div>
  </div>
  <div class="col-md-6 offset-3">

    <div class="form-group">
      <label for="mobile">Mobile Number:</label>
      <input type="text" value="{{mobile}}" class="form-control" name="mobile" placeholder="Enter Mobile Number">
    </div>
  </div>
  <div class="col-md-6 offset-3">

    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" value="{{address}}" class="form-control" name="address" placeholder="Enter the Address">
    </div>
  </div>
  <div class="col-md-6 offset-3">

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" value="{{email}}" class="form-control" name="email" placeholder="Enter the Email">
    </div>
  </div>
  <div class="col-md-6 offset-3">

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" value="{{password}}" name="password" class="form-control" placeholder="Enter the password">
    </div>
  </div>
  <div class="col-md-6 offset-3">

    <div class="form-group">
      <label for="cpassword">Confirm Password:</label>
      <input type="password" value="{{cpassword}}" name="cpassword" class="form-control" placeholder="Enter the password">
    </div>
  </div>
  <div class="col-md-6 offset-3">

    <div class="form-group">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="checkedadmincode" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" value="Admin Registration??" aria-label="Text input with checkbox">
      </div>
      <input type="password" value="{{specialcode}}" name="specialcode" class="form-control" placeholder="Enter the Admin Code">
    </div>
  </div>
  <div class="col-md-8 offset-2">
    <div class="form-group">
      <input class="d-block btn btn-primary" type="submit" value="SUBMIT">

    </div>
  </div>
</form>