<br><br><br><br><br><br>
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}



{{!-- Try section for the login view --}}
{{!-- Admin section login --}}
<div class="container">
  <div class="row">
    <div class="col-md-6 my-5 offset-md-3">
      <a href="/" class="btn btn-warning btn-sm">>Back to Home</a>

    </div>
  </div>
  <div class="row">


    {{!-- User section login --}}
    <div class="col-md-6 offset-md-3">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <h4 class="text-grayish">
              <a href="#user-collapse" data-toggle="collapse" data-target="" accordion class="text-grayish">Login</a>
            </h4>
          </div>
          <div id="user-collapse" class="collapse">
            <div class="card-body">
              <form action="/user/login" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" placeholder="Enter the Email">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Enter the password">
                </div>
                <a href="/forgotpwd" class="bnt btn-sm btn-warning">Forgot Password ?.</a>

                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 offset-md-3 my-5">
      <a href="/user/signup" class="btn btn-danger">Register</a>
    </div>
  </div>
</div>