<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Thank You
      {{#if user}}
      {{user.name}}
      {{/if}}
      {{#else}}

      {{/else}}
      for contacting us.</h1>
    <h3>We will get back to you as soon as we can !.</h3>
  </div>
</div>