<div class="row">
  <div class="col-md-6 my-4 offset-md-3">
    <h3>My ORders</h3>
    {{#each orders}}
    <hr>
    <div class="card my-5">
      <div>OrderId: {{id}}</div>
      <br>
      {{#each items}}

      <div class="card-header">

        Product name : {{item.title}}
      </div>
      <div class="card-body">
        Price : {{this.price}} <br>
        Quantity : {{this.qty}}

      </div>
      {{/each}}

      <div class="card-footer">
        Total Price: {{this.cart.totalPrice}}

      </div>

    </div>
    {{!-- <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">
          {{#each this.items}}
          <li class="list-group-items">
            <span class="badge">
              {{this.price}}
            </span>
            {{this.item.title}}
            {{this.qty}}
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="panel-footer">
        Total Price: {{this.cart.totalPrice}}
      </div>
    </div> --}}
    {{/each}}
  </div>
</div>