{{#if user.isAdmin}}
{{successmsg}}
<a href="/" class="btn btn-warning btn-sm">>Back to Home</a>
<h1 class="mt-5">This is the Admin Page !.</h1>
<div class="container">
  <div class="row my-5">
    <div class="col-md-6 offset-3">
      <a href="/product/add" class="btn btn-sm btn-outline-primary d-block">Add products !</a>
    </div>

    {{!-- Button for approval of blogs --}}
    <div class="col-md-6 offset-3 my-5">
      <a href="/adminbloglist" class="btn btn-sm btn-outline-primary d-block">Blogs left to approve:
        {{count}}
      </a>
    </div>




  </div>
  {{/if}}
  {{#unless user.isAdmin}}
  <a href="/" class="btn btn-warning btn-sm">>Back to Home</a>

  <h1 class="text-center">User Profile</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" value="{{user.name}}" disabled>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" name="name" value="{{user.email}}" disabled>
        </div>
        <div class="form-group">
          <label for="name">Phone</label>
          <input type="text" class="form-control" name="name" value="{{user.mobile}}" disabled>
        </div>
        <div class="form-group">
          <label for="name">Address</label>
          <input type="text" class="form-control" name="name" value="{{user.address}}" disabled>
        </div>

      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3"><a href="/user/order" class="btn btn-lg btn-outline-primary ml-5 my-5">Your Orders</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3"><a href="/userblogs" class="btn btn-lg btn-outline-primary ml-5 my-5">View Blogs</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3"><a href="/userphotogallerydisplay" class="btn btn-lg btn-outline-primary ml-5 my-5">View
        Album</a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 my-4">
      {{!-- <h3>My ORders</h3> --}}
      {{#each orders}}

      <div class="card my-5">
        <div>OrderId: {{id}}</div>
        <br>
        {{#each items}}

        <div class="card-header">

          {{item.title}}
        </div>
        <div class="card-body">
          {{this.price}} <br>
          {{this.qty}}

        </div>
        {{/each}}

        <div class="card-footer">
          Total Price: {{this.cart.totalPrice}}

        </div>

      </div>
      {{!-- <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            {{#each this.items}}
            <li class="list-group-items">
              <span class="badge">
                {{this.price}}
              </span>
              {{this.item.title}}
              {{this.qty}}
            </li>
            {{/each}}
          </ul>
        </div>
        <div class="panel-footer">
          Total Price: {{this.cart.totalPrice}}
        </div>
      </div> --}}
      {{/each}}
    </div>
  </div>
  {{/unless}}