<br>
<h1 class="text-center">{{user.name}}'s Blogs</h1>
<div class="container">
  <div class="row">

    {{#each blogs}}
    <div class="col-md-6 offset-md-3">
      <h1>{{title}}</h1>
      <img src="{{image}}" alt="" height="500" width="450">
      <h3>{{content}}</h3>
      <h2>{{author}}</h2>
      {{!-- <a href="/blog/edit/{{id}}" class="btn btn-block btn-warning btn-sm">Edit Blog</a> --}}
    </div>
  </div>
</div>
{{/each}}